#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}
:root {
    --bs-body-bg: #000; /* Czarny kolor tła */
    --bs-body-color: #fff; /* Biały kolor tekstu */
  }
li:hover {
    z-index: 2;
    color: var(--bs-list-group-active-color);
    background-color: var(--bs-list-group-active-bg);
    border-color: var(--bs-list-group-active-border-color);
    cursor: pointer;
}
  